@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px; 
  text-decoration: none;
  font-family: 'Poppins';
}

body {
  background-color: #f3efe5;
}

.headercontainer {
  display: grid; 
  grid-template-columns: repeat(7,auto);
  grid-template-rows: auto; 
  grid-template-areas: 
  "header nhome about projects dont";
  justify-content: center; /*did this so that the header and nav bar can be placed in the middle and avoid any uneve margins*/
  background-color: #89af76;
  border-bottom: inset 4px #f3efe5;
}
.headertext {
  display: flex;
  grid-area: header;
  padding: 20px; 
  color: #f3efe5; 
  font-size: 20px; 
}
.navhomebutton {
  grid-area: nhome;
  display: flex; 
  padding: 20px; 
  color: #f3efe5; 
  font-size: 15px; 
  font-weight: 450; 
}
.navaboutbutton {
  grid-area: about;
  display: flex; 
  padding: 20px; 
  color: #f3efe5; 
  font-size: 15px;
  font-weight: 450;  
}
.navprojectsbutton {
  display: flex; 
  grid-area: projects;
  padding: 20px; 
  color: #f3efe5;
  font-size: 15px;
  font-weight: 450; 
}
.navhomebutton:hover,
.navaboutbutton:hover, 
.navprojectsbutton:hover {
  background-color: #597c47;
  font-weight: 900; 
  text-decoration: underline;
}
/*styles for index.html begin here*/
.herocontainer {
  display: grid; 
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center; 
  align-items: center;
  background-color: #89af76;
  padding: 100px; 
}
.herotext {
  font-size: 40px; 
  font-weight: 900; 
  color: #f3efe5;
}
.herosubtext {
  font-size: 30px; 
  color: #f3efe5; 
  border-bottom: inset 4px; 
  border-color: #f3efe5; 
}
.projectpreviews {
  display: grid; 
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto); 
  grid-template-areas: 
  "cgame1"
  "cgame11"
  "landing"; 
  justify-content: center;
  gap: 50px;
  padding: 15px; 
}
.cgamev1wrapper {
  position: relative;
  max-width: 950px; 
}
.cgamev1img {
  width: 100%;
}
.captiontext {
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; left: 0; 
  text-align: center;
  padding-top: 20%; 
  color: white; 
  background-color: rgba(54,69,46,0.7);
  opacity: 0; 
  transition: opacity 0.3s; 
  font-size: 30px; 
  font-weight: 900; 
}
.cgamev1link {
  color: white; 
}
.cgamev1wrapper>div:hover{
  opacity: 1;
  border: 5px solid #89af76; 
}
.cgame11wrapper {
  position: relative; 
  max-width: 950px; 
}
.cgamev11img {
  width: 100%; 
}
.c11captiontext {
  width: 100%; 
  height: 100%; 
  position: absolute;
  top: 0; left: 0; 
  text-align: center;
  padding-top: 20%;
  color: white; 
  background-color: rgba(54,69,46,0.7);
  opacity: 0; 
  transition: opacity 0.3s; 
  font-size: 30px; 
  font-weight: 900; 
}
.cgamev11link {
  color: white; 
  text-decoration: none;
}
.cgame11wrapper>div:hover {
  opacity: 1; 
  border: 5px solid #89af76; 
}
.landingwrapper {
  position: relative; 
  max-width: 950px; 
}
.landingimg {
  width: 100%; 
}
.landingcaptiontext {
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; left: 0; 
  padding-top: 20%; 
  color: white; 
  background-color: rgba(54,69,46,0.7); 
  transition: opacity 0.3s; 
  text-align: center;
  opacity: 0;
  font-size: 30px; 
  font-weight: 900; 
}
.landinglink {
  color: white; 
}
.landingwrapper>div:hover {
  opacity: 1; 
  border: 5px solid #89af76;
}
.footercontainer {
  background-color: #89af76; 
  display: grid; 
  grid-template-columns: repeat(7,auto);
  justify-content: center;
  padding: 5px;
  margin-top: 10px; 
  gap: 10px; 
}

.linkedinimg,
.githubimg, 
.instaimg, 
.tiktokimg,
.gmailimg {
  height: auto; 
  width: 30px; 
  display: grid;

}
/*styles for index.html end here*/
/*styles for about.html start here*/ 
.aboutmesection{
  display: flex; 
  justify-content: start;
  align-items: center;
  padding: 100px; 
  text-decoration: none;
  color: #34462b;

}
.aboutmetext {
  font-size: 30px; 
  color: #34462b;
  font-weight: 500; 
  padding: 15px; 

}
.toplink,
.redditlink {
  text-decoration: underline;
  color: #34462b; 
}
.toplink:hover, 
.redditlink:hover {
  background-color: #34462b; 
  padding: 10px;
  color: #f3efe5;
}